.module-card {
  display: flex;
  flex-direction: column;
  width: 16.66666666665%;
  min-width: 290px;
  border: 1px #e1e4e8 solid;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 40px;
  margin: 10px;
}

.module-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.module-div {
  display: flex;
  flex-direction: column;
}

.download-link {
  margin: 4px 0;
}

.other-stuff-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.module-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.module-description {
  font-size: 14px;
  color: #586069;
  text-align: left;
  max-width: 700px;
}

.download-link-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 -10px 0;
}
