body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.greetings-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 64px;
}

.greetings-logo {
  width: 72px;
  align-self: center;
  margin-bottom: 22px;
}

.greetings-title {
  font-size: 16px;
  font-weight: 500;
  color: #6a737d;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace !important;
}

.greetings-title-badge {
  border: 1px solid #34d058;
  color: #28a745;
  margin-left: 8px;
}

.greetings-subtitle {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.4;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 12px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.download-button-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 10px;
}

.download-button {
  height: auto;
  align-self: center !important;
  vertical-align: center !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  padding: 16px 24px !important;
}

.documentation-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.documentation-title {
  font-size: 16px;
  color: #586069;
  padding-left: 60px;
  padding-right: 60px;
  align-self: center;
  max-width: 700px;
}

.documentation-link {
  color: #1074e7 !important;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.features-caption-container {
  display: flex;
  flex-direction: column;
  background-color: #fafbfc !important;
  text-align: center;
  margin-top: 30px;
}

.features-caption {
  margin-left: 24px;
  margin-right: 24px;
  font-size: 32px;
  line-height: 1.25;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.features-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 55px;
  align-self: center;
}

.features-sub-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 950px;
}
